@charset 'utf-8';
@import url('./reset.css');
@import './reset.css';
@import './fonts.css';

:root{
   font-size: 22px;
}

h1{
   font-size: 3rem;
   color:darkcyan;
   font-family: 'Acme', sans-serif;
   /* font-family: 'Work Sans', sans-serif; */
}
h2{
   font-size: 3rem;
   color:darkcyan;
   font-family: 'Work Sans', sans-serif;
}