@charset 'utf-8';
@import url("./reset.css");
@import "./reset.css";
@import "./fonts.css";
@import "./print_style.css" print;
@import "./screen_style.css" screen;
@import "./common_style.css" all;

:root {
  font-size: 22px;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 3rem;
}
